# Virtual environment
venv/

# Environment variables (secrets)
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Data files (too large for GitHub)
data/raw/
data/processed/

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac files
.DS_Store

# IDE files
.vscode/
.idea/